<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Dictionary Powered By ActiveRecord</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/" class="navbar-brand">Home</a></li>
        <li><a href="#" class="navbar-brand">Add Word</a></li>
      </ul>

    </div>
  </body>
</html>
